.contacts {
    padding-top: 120px;
    padding-bottom: 140px;
    background-image: url('../../img/dist/background/bg-contacts.webp');
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 930px) {
        padding-top: 80px;
        padding-bottom: 100px;
    }

    @media (max-width: 590px) {
        padding-bottom: 80px;
    }

    &-container {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        @media (max-width: 590px) {
            flex-direction: column;
        }
    }

    &-left {
        display: flex;
        flex-direction: column;
        width: 50%;

        @media (max-width: 590px) {
            width: 100%;
        }

        &__title {
            margin-bottom: 60px;
            @extend %merr-900;

            @media (max-width: 930px) {
                margin-bottom: 30px;
                font-size: 32px;
            }
        }

        &__text {
            margin-bottom: 80px;
            max-width: 470px;
            @extend %lato-300;
            font-size: 18px;
            opacity: .6;

            @media (max-width: 930px) {
                margin-bottom: 40px;
            }

            @media (max-width: 590px) {
                margin-bottom: 30px;
            }
        }

        &-list {
            display: flex;
            gap: 40px;
            margin-left: auto;

            @media (max-width: 1120px) {
                flex-direction: column;
                margin-left: unset;
            }

            @media (max-width: 590px) {
                flex-direction: unset;
                flex-wrap: wrap;
            }

            &-item {
                display: flex;
                align-items: center;
                @extend %lato-300;
                font-size: 21px;
                transition: opacity .3s ease-in-out;

                @media (max-width: 590px) {
                    font-size: 16px;
                }

                svg {
                    margin-right: 15px;
                    height: 30px;

                    @media (max-width: 590px) {
                        height: 20px;
                    }

                    path {
                        fill: $white;
                    }
                }

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    &-right {
        width: 50%;

        @media (max-width: 590px) {
            width: 100%;
        }
    }

    &-form {
        display: flex;
        flex-wrap: wrap;
        gap: 35px 30px;

        &-label {
            display: flex;
            flex-direction: column;
            @extend %lato-300;
            font-size: 16px;

            &__input {
                margin-top: 15px;
                border-bottom: 1px solid $white;
                padding-bottom: 15px;
                @extend %lato-300;
                font-size: 21px;
                color: $white;
                transition: opacity .3s ease-in-out;

                &:hover,
                &:focus {
                    border-bottom: 1px solid $white;
                    opacity: 0.7;
                }
            }

            &:first-child,
            &:nth-child(2) {
                max-width: 255px;

                @media (max-width: 1160px) {
                    width: 100%;
                    max-width: unset;
                }
            }

            &__textarea {
                margin-top: 15px;
                margin-bottom: 15px;
                border-bottom: 1px solid $white;
                padding-bottom: 15px;
                width: 100%;
                max-width: 540px;
                @extend %lato-300;
                font-size: 21px;
                color: $white;
                transition: opacity .3s ease-in-out;
                resize: none;

                &:hover,
                &:focus {
                    border-bottom: 1px solid $white;
                    opacity: 0.7;
                }
            }
        }

        &__button {
            margin-left: auto;
        }
    }
}
